@use '../custom' as *;
@use '../components/mixins' as *;



body {
   background-color: $gray-600;
}

.menu {
   @include gradient;

   li {
      padding: 0 0.7rem;

      a {
         color: $white !important;
         text-transform: capitalize;
         font-weight: 600;

         &:hover {
            color: $secondary !important;
         }

      }
   }
}