@use '../custom' as *;
@use '../components/mixins' as *;



.menu {
   @include media-breakpoint-down(md){
      background-color: $primary;
   }

   li {
      padding: 0 0.7rem;

      a {
         color: $white !important;
         text-transform: uppercase;
         font-weight: 600;

      }
   }
}