@use '../custom' as *;

.fb-button {
   @include media-breakpoint-down(md){
      display: none;
   }

   color: $white;

   &:hover {
      color: $secondary;
   }

   span {
      

      i {
         
         font-size: 1.2rem;
         
      }
   }
}

.btn-rounded {
   color: $white;
   background-color: $secondary;
   padding: 0.5rem 1.5rem;
   font-weight: 500;
   margin: 0 0 7rem 0;
   border-radius: 0.75rem;

   span {
      
      i {
         font-size: 1rem;
         padding-left: .5rem;
      }
   }
}