@use '../custom' as *;


.fb-button {

   display: none;
   font-size: 1.2rem;
   color: $light;
   text-decoration: none;

   &:hover {
      color: $white;
   }

   @include media-breakpoint-up(lg) {
      display: none;
   }

}

.btn-rounded {

   font-family: 'Heebo', sans-serif;
   font-weight: 500;
   font-size: 1.125rem;
   color: $white;
   background-color: $secondary;
;
   padding: 0.5rem 1.5rem;
   font-weight: 500;
   margin-bottom: 4rem;
   border-radius: 0.75rem;
   
   @include media-breakpoint-up(md) {
      margin-bottom: 7rem;
   }

   span {
      
      i {
         font-size: 1rem;
         padding-left: .5rem;
      }
   }
}