@use '../custom' as *;

.fb-button {
   @include media-breakpoint-down(md){
      display: none;
   }

   color: $white;

   &:hover {
      color: $secondary;
   }

   span {
      

      i {
         
         font-size: 1.2rem;
         
      }
   }
}